body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
input, button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
#resultado, #resultado2, #resultado3, #resultado4, #resultado5, #resultado6, #resultado7, #resultado8{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #000;
    font-size: 16px;
    width: 1300px;
}